* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.logo {
  width: 80px;
}
/* Navbar */
.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 99;
  background: linear-gradient(to right, #e4fa72, #fffb05, #fcc621);
}
.navbar a {
  font-size: 1.3rem;
  color: #2f2f2f;
}
.navbar a:hover {
  color: #ffffff;
}
.active {
  /* text-decoration: underline;
  text-decoration-color: #7fbf3f; */
  background-color: #7fbf3f;
  border-radius: 20px;
}

/* footer */
.footer-section {
  background: linear-gradient(to right, #e4fa72, #fffb05, #fcc621);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #2f2f2f;
}
.footer a:hover {
  color: #fff;
}
.footer ul,
.social-networks ul {
  list-style: none;
}
.social-networks i {
  font-size: 1.3rem;
  color: #2f2f2f;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .footer-section li {
    display: inline-block;
    padding: 15px;
  }
  .footer-section p,
  .footer-section .logo,
  .footer-section a {
    display: inline-block;
    vertical-align: middle;
  }
}
