* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.logo {
    width: 80px;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #F0DF41;
}
.navbar a { 
    font-size: 1.3rem;
    color: #2f2f2f; 
} 
.navbar a:hover { 
    color: #ffffff; 
}
.active {
    text-decoration: underline;
    text-decoration-color: #7FBF3F  ;
}