/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap");

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #faf8cd;
}
h1,
h2 {
  font-family: "Emilys Candy", sans-serif;
}
/* main */
main {
  flex: 1 0 auto;
  margin-top: 66px;
}

.logo {
  width: 40px;
  border-radius: 50px;
}
/* navbar-footer */
.footer-navbar {
  background: linear-gradient(to right, #e4fa72, #fffb05, #fcc621);
}
/* Navbar */
.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 99;
}
.navbar a {
  font-size: 1.2rem;
  color: #2f2f2f;
}
.navbar a:hover {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: -5px -5px 10px #2f2f2f;
}
.active {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
}
/* Main */
/* Hero section */
#hero {
  height: 400px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/roses.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  text-align: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 2s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
.hero-content h1,
.hero-content p {
  font-family: "Alex Brush", sans-serif;
}
.hero-content h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 700;
  padding: 20px 20px;
}
.hero-content p {
  font-size: 1.4rem;
  color: #f8f8f8;
  font-weight: 300;
}
.hero-btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 30px;
  transition: background 0.3s ease;
}
.hero-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
/* Featured Category Section */
.container-section h1 {
  text-align: center;
  margin: 30px 0;
}
.container-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.card {
  margin: 10px;
  padding: 10px;
  border: 2px solid #fffb05;
  box-shadow: 5px 5px 10px #e7eb31;
}
.card img {
  width: 100%;
  height: 200px;
}
.card figcaption {
  font-family: "Emilys Candy", sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 8px 8px 15px #e7eb31;
}

/* About section */
#about-section h1 {
  text-align: center;
  margin: 30px 0;
}
.container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about {
  font-family: "Alex Brush", sans-serif;
  font-size: 1.2rem;
  margin: 0 10px;
  padding: 10px;
  background-color: hsl(56, 70%, 82%);
  border-radius: 30px 0 30px 0;
}
.about-img {
  background-color: white;
  border-radius: 0 40px;
  margin: 10px;
  padding: 10px;
}
.about-img figcaption {
  font-family: "Emilys Candy", sans-serif;
  margin-top: 20px;
  text-align: center;
}
.about-img img {
  width: 100%;
  height: 240px;
}

/* Contact us section */
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact-us-img {
  margin: 10px;
}
.contact-us-img img {
  width: 100%;
  height: 250px;
  border-radius: 50px;
}

.contact-us-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(66, 100%, 85%);
  width: fit-content;
  margin: 10px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: -5px -5px 10px yellow;
}
.contact-us p {
  font-family: "Emilys Candy", sans-serif;
  font-size: 1.2rem;
}
.contact-us a {
  text-decoration: none;
}
.contact-us button {
  background-color: rgb(245, 242, 92);
  display: block;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  list-style: none;
}
.contact-us button:hover {
  background-color: #f3ecec;
}

/* footer */
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #2f2f2f;
}
.footer a:hover {
  color: #fff;
}
.footer ul,
.social-networks ul {
  list-style: none;
}
.social-networks i {
  font-size: 1.1rem;
  color: #2f2f2f;
}

/* Gallery pages */
.gallery-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.img-card {
  flex: 1;
  margin: 10px;
  padding: 10px;
  background-color: white;
}
.img-card img {
  width: 100%;
  height: 200px;
}
.img-card figcaption,
.img-card p {
  font-family: "Emilys Candy", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

.add-to-cart button {
  margin-left: 10px;
  background-color: #999696;
  color: white;
  border: 1px solid rgb(54, 52, 52);
  padding: 5px;
  border-radius: 5px;
}
.add-to-cart button:hover {
  background-color: #e4fa72;
  color: rgb(54, 52, 52);
  box-shadow: 4px 4px 10px yellowgreen;
  transition: background 1s ease;
}

/* About page */

.hero-about {
  margin-top: 66px;
  height: 300px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/about-section2.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  text-align: center;
}
.text-hero-about p {
  font-family: "Emilys Candy", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(240, 240, 240);
  font-size: 1.1rem;
}
.text-hero-about h1 {
  margin-top: 50px;
  color: rgb(240, 240, 240);
}
.scroll-box p {
  padding: 10px;
}
.main-about-layout {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}
.aside-left,
.aside-right {
  flex: 1;
  background: url("../images/about-section2.png") no-repeat center/cover;
}
.about-content {
  flex: 2;
  padding: 1rem;
}
.scroll-box {
  width: 100%;
  height: 200px;
  padding: 5px;
  background-color: #fffbe6;
  border: 2px solid #fcc621;
  border-radius: 30px 0 0 0;
  overflow: auto;
  cursor: text;
  font-family: "Alex Brush", sans-serif;
  font-family: 1rem;
  font-weight: 600;
  line-height: 1.1rem;
  color: #4b3f2f;
}
.our-story-img img {
  height: 200px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}
.how-it-all-began-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* our mission */
.our-mission p {
  font-family: "Emilys Candy", sans-serif;
  font-size: 1.1rem;
}
.our-mission-card {
  border: 2px solid #fcc621;
  padding: 4px;
  margin-bottom: 10px;
  box-shadow: -5px -5px 10px #e7eb31;
}

/* What you will find here */
.find-here {
  margin-top: 30px;
  margin-bottom: 30px;
}
.find-here p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Emilys Candy", sans-serif;
}
.find-here-list {
  border-radius: 20px 0 20px 0;
}
.find-here-list li {
  font-family: "Emilys Candy", sans-serif;
  font-size: 1.1rem;
  list-style-type: circle;
}

/* About Valentina - Creator */
.about-valentina-creator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-valentina-container h2,
.about-creator-container h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-valentina-text,
.about-creator-text {
  background-color: white;
  padding: 10px;
  /* box-shadow: inset -5px -5px 10px; */
  box-shadow:
    inset 3px 3px 8px rgba(0, 0, 0, 0.3),
    inset -3px -3px 8px rgba(255, 255, 255, 0.7);
}
.about-valentina-text p,
.about-creator-text p {
  font-family: "Emilys Candy", sans-serif;
  font-size: 1.1rem;
}
/* Call to action section */
.cta-section {
  text-align: center;
  padding: 3rem 1rem;
}
.cta-section h2 {
  margin-bottom: 1.5rem;
}
.cta-button {
  font-family: "Emilys Candy", sans-serif;
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #fce7b2; /* pastel soft */
  color: #7a5c3a;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid #f5d48a;
}
.cta-button:hover {
  background-color: #f5d48a;
  color: #4b3a28;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Contact page */
.contact-main {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/roses.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
label {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: 600;
}
/* Media Queries */
@media screen and (min-width: 768px) {
  /* hero section */
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1.6rem;
  }
  .hero-btn {
    margin-top: 40px;
  }
  /* Featured Category Section */
  .container-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card {
    flex: 0 1 45%;
    max-width: 45%;
  }
  /* About section */
  .container-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about,
  .about-img {
    flex: 1;
    max-width: 50%;
  }
  .about {
    font-size: 1.2rem;
  }
  /* Contact us section */
  .contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* About  page */
  .about-content h2 {
    text-align: center;
    margin-top: 30px;
  }
  .our-story-cotainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .our-story-img img {
    flex: 0 1 400px;
    max-width: 400px;
    height: 300px;
  }
  .scroll-box {
    height: fit-content;
  }
  /* Footer */
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .footer-section li {
    display: inline-block;
    padding: 15px;
  }
  .footer-section p,
  .footer-section .logo,
  .footer-section a {
    display: inline-block;
    vertical-align: middle;
  }

  /* Gallery page */
  .gallery-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .img-card {
    flex: 0 1 30%;
    max-width: 30%;
  }
  .img-card img {
    width: 100%;
    height: 200px;
  }
  /* About page */
  .text-hero-about h1 {
    font-size: 3rem;
  }
  .text-hero-about p {
    font-size: 1.6rem;
  }
  /* our mission */
  .our-mission-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .our-mission-card {
    flex: 0 1 45%;
    max-width: 45%;
  }
  .our-mission p {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  /* What You Will Find Here */

  .find-here-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .find-here-list {
    flex: 0.1 45%;
    max-width: 45%;
  }

  .find-here-list li {
    font-size: 1.4rem;
  }
  .find-here p {
    font-size: 1.4rem;
  }
  /* about valentina - creator */
  .about-valentina-text p,
  .about-creator-text p {
    font-size: 1.4rem;
  }
}
/* Media query 1024px */
@media screen and (min-width: 1024px) {
  .container-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card {
    flex: 0 1 30%;
    max-width: 30%;
  }
  /* About section */
  .container-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about {
    flex: 0 1 65%;
    max-width: 65%;
  }
  .about-img {
    flex: 0 1 35%;
    max-width: 35%;
  }
  .about {
    font-size: 1.4rem;
  }
  /* Contact us section */
  .contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-us-img {
    flex: 0 1 65%;
    max-width: 65%;
    margin-right: 10px;
  }
  /* Gallery page */
  .gallery-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .img-card {
    flex: 0 1 20%;
    max-width: 20%;
  }
  .img-card img {
    width: 100%;
    height: 200px;
  }
  /* About  page */
  .main-about-layout {
    display: flex;
    flex-direction: row;
  }
  .aside-left,
  .aside-right {
    flex: 1;
    background-color: #4dfc21;
  }
  .about-content {
    flex: 3;
    padding: 1rem;
  }
  .our-story-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .our-story-img img {
    flex: 0 1 300px;
    max-width: 300px;
    height: 200px;
  }
  .scroll-box p {
    font-size: 1.5rem;
  }
  /* about valentina - creator */
  .about-valentina-text p,
  .about-creator-text p {
    font-size: 1.5rem;
  }
}
/* Media query 1440px */
@media screen and (min-width: 1300px) {
  .container-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 10px */
  }
  .card {
    flex: 0 1 22%;
    max-width: 22%;
  }
  /* About section */
  .container-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about {
    flex: 0 1 80%;
    max-width: 80%;
    margin-right: 30px;
  }
  .about-img {
    flex: 0 1 20%;
    max-width: 20%;
    margin-right: 40px;
  }
  .about {
    font-size: 1.6rem;
  }

  /* Contact button */
  .contact-us-button {
    margin-right: 30px;
  }
  /* Gallery page */
  .gallery-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .img-card {
    flex: 0 1 13%;
    max-width: 13%;
  }
  .img-card img {
    width: 100%;
    height: 200px;
  }
}
